* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ADD8E6;
}
svg path {
    /* fill: 0 */
    stroke: #eee;
    stroke-width: .25;
}
svg path:hover {
    fill: #006284;
    transition: .6s;
    cursor: pointer;
}