@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

/* Navbar styling */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  margin-left: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #333;
}
.navbar .taskbarItems {
  margin-left: auto;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #ADD8E6;
}
.content {
  max-width: 100px;
  margin: 0px;
  margin-top: 40px auto;
  padding: 20px;
}
/* Map styling */
/* .mapdisplay {
  background-color: #ADD8E6;
  height: 100%;
  margin: 0;
  padding: 20;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
svg path {
  fill: 0;
  stroke: #eee;
  stroke-width: .25;
}
svg path:hover {
  fill: #006284;
  transition: .6s;
  cursor: pointer;
} */